/* FONT STACK */
body {
    padding-top: 140px;
    background: #FAFAFA;
}


.whiteback {
    background: #FFF;
}
footer {
    text-align: center;

}

.video-container {
    text-align: center;
}

.ctxt {
    text-align: center;
}

.rtxt {
    text-align: right;
}

.navbar-inner {
    background: #712A66;
    height: 110px;
    border-bottom: 4px solid #48183E;
}

.navbar {

}